*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  overflow-x: hidden;
  background-color: #b6b6b9;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2.5s linear;
  }
}

.Header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  div{
    display: flex;
    align-items: center;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.TaskForm{
  text-align: center;
  background-color: #6d7178;
  width: 60%;
  margin: 0.5vw auto;
  padding: 0.25vw 1vw;
  border-radius: 5px;
  .form{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1vw;
    label{
      /* text-align: left; */
      justify-self: right;
      font-weight: 500;
      color:#282c34;
    }
    input{
      height: 20px;
      background-color: silver;
      border: 1px solid whitesmoke;
      border-radius: 2.5px;
      padding-inline: 1%;
      outline: none;
      color: #282c34;
    }
    input::placeholder{
      color: lightgray;
      font-style: italic;
    }
    #taskDline{
      width: 24.5%;
    }
    .addbtn{
      grid-column: 2/3;
      width: 25%;
      justify-self: left;
    }
  }
}

.taskAndComp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin:auto;
  gap: 1vw;
  >*{
    padding: 0.5vw 1vw;
    background-color: lightgray;
    border-radius: 5px;
  }
  .listofTasks{
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #282c34;
    padding: 0.25vw;
  }
  .taskItem{
    border-radius: 5px;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    padding: 0.25vw 1vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    .taskdetails {
      grid-column: 1;
      grid-row: 1 / 4;
      >small{
        color: darkgray;
      }
    }
    .dltbtn {
      grid-column: 2;
      grid-row: 2/4;
      align-self: center;
    }    
    #checkbox {
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
      display: flex;
      align-items: center;
      gap: 6px;
      >small{
        font-size: 0.7rem;
        color: gray;
      }
    }
  }
}
.emptylist{
  font-size: small;
  color: gray;
  font-style: italic;
  text-align: center;
}

.LoginForm{
  width: 50%;
  height: 50%;
  margin: 1.5vw auto;
  background-color: #6d7178;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
  border-radius: 5px;
  form{
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vw;
    input{
      border: 1px solid whitesmoke;
      border-radius: 5px;
      padding-inline: 2.5%;
      outline: none;
      color: #282c34;
    }
    button{
      width: 35%;
      height: 100%;
      justify-self: center;
    }
  }
}


.addbtn {
  margin-block: 1%;
  padding: 0.5% 1%;
  cursor: pointer;
  background: #282c34;
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.addbtn:hover {
  background-color: white;
  border: 1.5px solid transparent;
  color: #282c34;
}
.dltbtn {
  cursor: pointer;
  background: transparent;
  border: 1.5px solid maroon;
  border-radius: 5px;
  color: maroon;
  font-size: 0.8rem;
  scale: 0.9;
  height: 30px;
}
.dltbtn:hover {
  background-color: maroon;
  color: white;
}
.loginbtn{
  margin-inline: 1%;
  font-weight: normal;
}
.errortxt{
  min-height: 1.5rem;
  color: orange;
  margin-top: 1vw;
}

h3{
  color: #282c34;
}
#taskformheading{
  color:rgb(196, 218, 247);
  margin-bottom: 0.25vw;
}


@media screen and (max-width: 768px) {
  .LoginForm{
    width: 90%;
  }
  .TaskForm{
    width: 90%;
  }
  .taskAndComp{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .Header>*{
    scale: 0.9;
  }
}

@media screen and (max-width: 500px) {
  .TaskForm .form {
    grid-template-columns: 1fr !important;
    input, button {
      grid-column: span 1 !important;
      width: 100%;
    }
    label{
      justify-self: left;
    }
  }
  h3{
    font-size: medium;
  }
  .Header span{
    display: none;
  }
  .taskAndComp{
    width: 90%;
  }
  .listofTasks{
    height: 40vh !important;
  }
}